.main_container {
	
	background:#9400d3;
	
}

.menu {
	width:900px;
text-align: center;
margin: 10px;
	
}



.menu1
{width:120px;
	
	font-family: Economica;	
	float:left;
	font-size:30px;
	font-weight: bold;
}



.menu1:hover {color:black;
	 background-color: white;
}
a {text-decoration: none;
	color:yellow;
}
