.main_container {
	
	background:#9400d3;
}

.menu {

	width:900px;
text-align: center;
font-size:26px;
margin: 0;
	padding: 0;
	color:white;
}

.m ul {display: inline;}
.menu ul li a
{color:white;
	display: inline;	
	margin-right: 10px;
	font-family: Economica;
	font-weight: bold;
	
}



.menu1:hover {
	 background-color: white;
}

.menu a:hover {color:green;}


.menu a {text-decoration: none;
	
}
